.icon {
  /* this custom variable was created in the global stylesheet */
  color: var(--icon-color);
}

.profile-button-container {
  display: flex;
  background-color: aqua;
  padding: 20px;
}

.profile-button {
  height: 42px;
  width: 70px;
  background: transparent;
  border-radius: 21px;
  border: 1px solid rgb(199, 196, 196);
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.profile-button:hover {
  box-shadow: 0px 2px 4px gray;
}